@import "assets/scss/main";

.dashboard {
  background: url("../../assets/images/background.png") no-repeat center;
  height: 100vh;
  background-size: cover;

  &__title{
    font: $font-hero;
    letter-spacing: $spacing / 2;
    color: white;
    padding: $spacing * 1.5;
    min-width: 330px;
    display: flex;
    justify-content: center;
  }

  &__subtitle{
    margin-bottom: $spacing * 3;
    font: $font-2;
    color: getColor(brand-orange)
  }
  // padding: 20px;
}
