@import "assets/scss/main.scss";

.button {
    $button: &;
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    align-items: center;
    max-width: 100%;
    height: 40px;
    margin: 0 ($spacing * 2) 0 0;
    padding: 12px ($spacing * 2);
    border: none;
    border-radius: 3px;
    font: $font-button;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: getColor(white);
    fill: getColor(white);
    background-image: none;
    background-color: getColor(brand-orange);
    vertical-align: middle;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    transition: getTransition();

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: getColor(white);
        background: getColor(orange-light);
    }

    &:disabled,
    &--disabled {
        background-color: getColor(light-grey);
        cursor: not-allowed;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: getColor(white);
            background-color: getColor(light-grey);
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &__label {
        display: inline-block;
        margin-right: $spacing;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        position: relative;
        top: -1px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: $spacing;
        vertical-align: middle;
        fill: getColor(white);

        &:last-child {
            margin-right: 0;
        }

        #{$button} .element-loader .svg,
        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: getColor(white);

        }

        &:last-child {
            margin-right: 0;
        }
    }

    .element-loader {
        margin: 0 auto;
    }

    &--secondary {
        color: getColor(blue-silver);
        background-color: transparent;

        &:before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid getColor(blue-silver);
            border-radius: 3px;
            z-index: 1;
            transition: getTransition();
            pointer-events: none;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: getColor(blue-silver);
            background-color: transparent;

            &:before {
                border: 2px solid getColor(orange-light);
            }

            #{$button}__icon {
                fill: getColor(blue-silver);

                svg {
                    fill: getColor(blue-silver);
                }
            }
        }

        #{$button}__icon {
            fill: getColor(blue-silver);

            svg {
                fill: getColor(blue-silver);

            }
        }

        .element-loader {
        }

        &:disabled,
        &#{$button}--disabled {
            color: getColor(white);
            fill: getColor(white);
            background-color: getColor(light-grey);
            cursor: not-allowed;

            &:before {
                border: 2px solid getColor(light-grey);
            }

            &:hover,
            &:active,
            &:focus {
                color: getColor(white);
                fill: getColor(white);
                background-color: getColor(light-grey);

                &:before {
                    border: 2px solid getColor(light-grey);
                }
            }

            #{$button}__icon {
                fill: getColor(white);

                svg {
                    fill: getColor(white);
                }
            }
        }
    }

    &--tertiary {
        color: getColor(brand-orange);
        background-color: transparent;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: getColor(orange-light);
            background-color: transparent;

            #{$button}__icon {
                fill: getColor(orange-light);

                svg {
                    fill: getColor(orange-light);
                }
            }
        }

        #{$button}__icon {
            fill: getColor(brand-orange);

            svg {
                fill: getColor(brand-orange);

            }
        }

        .element-loader {

        }

        &:disabled,
        &#{$button}--disabled {
            color: getColor(white);
            fill: getColor(white);
            background-color: getColor(light-grey);
            cursor: not-allowed;

            &:hover,
            &:active,
            &:focus {
                color: getColor(white);
                fill: getColor(white);
                background-color: getColor(light-grey);
            }

            #{$button}__icon {
                fill: getColor(white);

                svg {
                    fill: getColor(white);
                }
            }
        }
    }

    &--small {
        height: 28px;
        font: $font-list;
        padding: 5px $spacing;
        margin: 0 $spacing 0 0;

        &:before {
            border-width: 1px;
        }

        #{$button}__icon {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }

        #{$button}__icon,
        #{$button}__label {
            margin-right: $spacing/2;

            &:last-child {
                margin-right: 0px;
            }
        }

        &:hover {
            &:before {
                border-width: 1px;
            }
        }
    }

    &--loading {
        pointer-events: none;

        .element-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            backface-visibility: hidden;
            transform-style: preserve-3d;
            margin: 0;
            z-index: 1;
        }

        #{$button}__icon,
        #{$button}__label {
            opacity: 0;
        }
    }

    &--dropdown {
        min-width: 126px;
        padding: 0 #{$spacing*4+4px} 0 0;

        #{$button}__inner-button {
            padding: 12px 4px 12px ($spacing*2);
        }

        .react-select__menu {
            top: 100%;
        }
    }

    &--dropdown#{$button}--small {
        #{$button}__inner-button {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    &__inner-button {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    &__toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: #{$spacing*4+4px};
        display: flex;
        justify-content: center;
        align-items: center;
        transition: getTransition();

        #{$button}:not(#{$button}--disabled):hover & {
            background: rgba(getColor(dark-grey), 0.1);
        }

        &-icon {
            display: block;
            width: 10px;
            height: 10px;
            margin-left: -2px;
            transition: getTransition();

            #{$button}--dropdown-open & {
                transform: rotate(180deg);
            }

            svg {
                display: block;
                width: 10px;
                height: 10px;
                fill: getColor(white);

                #{$button}--secondary:not(#{$button}--disabled) &,
                #{$button}--tertiary:not(#{$button}--disabled) & {
                    fill: getColor(orange-light);
                }
            }
        }
    }

    .react-select {

        &__control {
            display: none !important;
        }

        &__option--is-focused {
            color: getColor(blue-silver);
            background-color: transparent;
        }

        &__option--is-selected {
            color: getColor(mid-anthracite);
            background-color: getColor(light-grey);
        }
    }

    &--action {
        display: inline-block;
        width: $spacing*6;
        margin: 0 0 0 $spacing;
        padding: 12px 14px;
    }
}
